.login {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2% 6% 0;
  align-items: center;
}

.form-transfer {
  float: right;
  color: #1890ff;
}
.login-form-button {
  width: 100%;
}

.login-intro {
  max-width: 100%;
  margin: 30px 0;
}

.login-intro-word {
  text-align: center;
  font-family: Avenir-Heavy;
  font-size: 30px;
  margin: 20px 0;
}

.login-intro-loading {
  position: relative;
  width: 80%;
  margin: auto;
  height: 350px;
}

.login-intro-loading-col {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin: auto 5%;
  width: 40%;
  max-width: 750px;
  min-height: 325px;
}

.login-intro-loading-col p {
  opacity: 0.8;
  font-family: Avenir-Medium;
  font-size: 18px;
  color: #999;
  margin: 0;
}

.login-intro-loading-col h4 {
  font-weight: 400;
  font-family: Avenir-Heavy;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.login-intro-loading-image {
  display: inline-block;
  text-align: center;
  max-width: 35%;
}

.login-intro-loading-tips {
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translate(-50%, 0);
  margin: 50px auto;
  font-size: 18px;
}

.fade-enter {
  opacity: 0;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-appear {
  opacity: 0;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-leave {
  animation-duration: 0s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-enter.fade-enter-active {
  animation-name: fadeIn;
  animation-play-state: running;
}

.fade-appear.fade-appear-active {
  animation-name: fadeIn;
  animation-play-state: running;
}

.fade-leave.fade-leave-active {
  animation-name: fadeOut;
  animation-play-state: running;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
